.profile__edit-button {
    width: 24px;
    height: 24px;
    align-self: center;
    border: 1px solid #ffffff;
    background-image: url(../../../Images/RychkaVector.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
    }
}