.header__logo {
    margin-bottom: 41px;
    width: 142px;
    height: 33px;
    background-image: url(../../../Images/logoVector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 420px) {
    .header__logo {
        margin-bottom: 31.6px;
        margin-left: 27px;
        width: 104px;
        height: 24.5px;
    }
}
