.popup__form_submit-button_disabled {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
}

.popup__form_submit-button_disabled:hover {
    opacity: 1;
}