.pofile__avatar-edit {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    background-image: url(../../../Images/editavatarVector.png);
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s linear;
    align-self: center;
  }
  
  .pofile__avatar-edit:hover {
    opacity: 1;
    cursor: pointer;
  }
  @media screen and (max-width: 739px) {
    .profile__avatar-edit {
      margin-left: 81px;
      margin-right: auto;
    }
  }