.popup__form {
    display: flex;
    width: calc(100% - 72px);
    flex-direction: column;
    margin: 54px auto 37px auto;
}

@media screen and (max-width: 740px) {
    .popup__form {
        width: calc(100% - 44px);
       
    }
}